* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #222;
}

header {
    background: #123c73;
    color: white;
    padding: 25px 40px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

main {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
}


/* DASHBOARD */

.dashboard {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow:
        0 3px 12px rgba(0,0,0,0.08);
}

.card h3 {
    margin-top: 0;
    color: #666;
}

.card div {
    font-size: 30px;
    font-weight: bold;
    color: #123c73;
}


/* CONTROLS */

.controls {
    margin: 30px 0;
    display: flex;
    gap: 15px;
}

.controls input,
.controls select {
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
}

.controls input {
    width: 350px;
}


/* TABLE */

.table-container {
    background: white;
    border-radius: 12px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #123c73;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 13px;
    border-bottom: 1px solid #eee;
}

td a {
    color: #1769aa;
    text-decoration: none;
}


/* STATUS */

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.status.Completed {
    background: #dff5e5;
    color: #16803c;
}

.status.Pending {
    background: #fff0d5;
    color: #b36b00;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #123c73;
    color: white;
}


/* MOBILE */

@media(max-width: 800px) {

    .dashboard {
        grid-template-columns:
            repeat(2, 1fr);
    }

}

@media(max-width: 500px) {

    .dashboard {
        grid-template-columns: 1fr;
    }

    main {
        padding: 15px;
    }

    .controls {
        flex-direction: column;
    }

    .controls input {
        width: 100%;
    }

}
